asgiref==3.8.1
certifi==2025.1.31
channels==4.2.0
charset-normalizer==3.4.1
click==8.1.8
Django==5.1.6
djangorestframework==3.15.2
dlib==19.24.6
docopt==0.6.2
face-recognition==1.3.0
face_recognition_models==0.3.0
idna==3.10
numpy==2.2.3
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pipdeptree==2.25.1
pipreqs==0.4.13
python-dateutil==2.9.0.post0
pytz==2025.1
qrcode==7.3.1
requests==2.32.3
setuptools==75.9.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
whitenoise==6.9.0
yarg==0.1.10
